node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.pth
*.onnx

uv.lock
pyproject.toml
.python-version

# Temp and Data
temp_upload.jpg
satellite_anomaly_detection/temp_upload.jpg
satellite_anomaly_detection/data/
results/
